#menu{
	background-color: #563d7c;

 text-decoration : none !important;

}
#banniere{
	text-align: center;
	font-size: 130%;
	font-family: Montserrat;
}
.illustr {
  width : 70px;
  height : 70px;
}
a<#menu{
	 color: white ;
}
